header{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #39d8d5;
  color: #fff;
  font-family: cursive;
}

body{
  background-color: #D8393c;
  text-align: center;
  color: #D8393c;
}

a:link, a:visited {
  background-color: white;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}

a:link{
  color:hotpink;
  text-decoration: none;
}

a:visited{
  color: blue;
  text-decoration: none;
}

a:hover{
  color: orange;
  text-decoration: underline;
}

a:active{
  color: yellow;
  text-decoration: underline;
}
